h2{
    padding: 10px;
    font-size: 50px;
    text-align: center;
    width: 45%}


	form{
	background-color:#F2F2F2;
	width: 400px;
	margin:auto;
	padding:30px;
	border:1px solid black;
	display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    margin-top:30px 
}

input{
	font-size: 16px;
}
select{
	font-size: 16px;
}

.button{
	background-color: white;
	color: black;}
textarea{
	flex-basis: 100px
}