body{
	min-height: 1000px
}

h1{
    padding: 10px;
    font-size: 50px;
    text-align: center;
    width: 45%
}

.Nuestrosplanes{
	padding: 100px;
	width: 70%;,
}
#empresas{
	min-height: 300px;
	width: 60%;
	display: grid;
	grid-template-areas: "img soluciones";
	grid-template-columns: 50% 50%;
	margin: auto;
	margin-top: 100px

}

.imgEmpresa{
	grid-area: img;
	background-image: url(https://static1.abc.es/Media/201501/08/comer-trabajo_xoptimizadax--644x362.jpg);
	background-size: cover
	
}

.resolver{
	grid-area: soluciones;
	font-size: 25px;
	padding: 40px
	}

.soluciones{
	font-size: 20px;
	margin-top:20px;
	margin-bottom: 20px;
}
.boton{
	width: 200px;
	background-color: #F2F2F2;
	
}
.boton:hover{
background: rgb(73,92,32);
background: linear-gradient(90deg, rgba(73,92,32,1) 0%, rgba(231,241,240,1) 100%);

}
.boton a{
	text-decoration:none;
	font-size: 20px;
	text-align:center;
	padding: 5px;
	color:#242614;
}

.boton a :hover{
	
	
}


