body{
	min-height: 1000px
}


.Nuestrosplanes{
	padding: 100px;
	width: 70%;,
}

#empresas{
	

	min-height: 30rem;
	width: 80%;
	display: grid;
	grid-template-areas: "img soluciones";
	grid-template-columns: 50% 50%;
	margin: 5rem auto;
	

}

.imgEmpresa{
	grid-area: img;
	background-image: url('../media/empresa.jpg');
	background-size: cover
	
}

.resolver{
	grid-area: soluciones;
	font-size: 2.75rem;
	padding: 40px;
	border:3px solid black;
	border-left: none;

}

.soluciones{
	font-size: 20px;
	margin-top:20px;
	margin-bottom: 20px;
	color: black;
}

.boton a{
	background-color: #485922;
	font-size: 1.7rem;
	text-decoration: none;
	color:white;
	padding: 10px;
}

.boton:hover{
	transform: scale(1.1);
}


